/* Code tidied up by ScrapBook */
@import url("font-awesome.min.css");
div.contactus-lightbox, div.contactus-alert, div.contactus-lightbox.jmoddiv.jmodinside { display: none; position: absolute; background: white none repeat scroll 0% 0%; z-index: 1000000; padding: 0px; top: -400px; border-radius: 0px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6); }
input.joomly-contactus-checkbox[type="checkbox"] { margin: 0px 0px 0px 10px; }
@media (max-width: 768px) {
}
form.reg_form { margin-bottom: 0px; }
div.contactus-lightbox-caption { border-bottom: 1px solid rgb(224, 216, 216); }
div.contactus-lightbox-caption > div { display: inline-block; }
div.contactus-lightbox-body { padding: 20px 15px 10px; background-color: rgb(255, 255, 255); }
div.contactus-alert-body { padding: 20px; }
div.contactus-lightbox-cap { margin-left: 10%; width: 80%; }
div.contactus-lightbox-caption { color: white; }
div.joomly-contactus-div { margin-bottom: 15px; }
.contactus-center { margin-right: auto; margin-left: auto; }
button.contactus-button { padding: 14px 18px; border: 0px none; font-weight: 700; letter-spacing: 1px; display: block; text-transform: uppercase; height: auto; width: auto; color: rgb(255, 255, 255); box-sizing: border-box ! important; border-radius: 0px; cursor: pointer; text-shadow: none; background-image: none; }
button.contactus-submit[type="submit"] { width: 100%; margin-left: auto; margin-right: auto; cursor: pointer; }
button.contactus-button:hover { opacity: 0.8; outline: 0px none; }
div.contactus-lightbox img.img-contactus-lightbox, div.contactus-lightbox button.contactus-button { transition: all 0s ease 0s; }
input.contactus-fields[type="text"], input.contactus-fields[type="email"], input.contactus-fields[type="tel"], textarea.contactus-textarea { border: 1px solid rgb(204, 204, 204); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; border-radius: 0px; vertical-align: middle; color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); height: 40px; width: 100%; max-width: 100%; padding: 4px 6px; box-sizing: border-box ! important; font-size: 13px; line-height: 18px; margin: 0px; }
textarea.contactus-textarea { padding: 4px 6px; height: 110px; }
label.contactus-label-center { text-align: center; }
div.contactus-lightbox-cap > h4 { margin-top: 10px; margin-bottom: 10px; font-size: 14px; line-height: 16px; text-align: center; color: white; }
div.contactus-lightbox-closer { width: 10%; }
div.contactus-lightbox-closer > i { float: right; cursor: pointer; margin-right: 10px; color: white; }
p.contactus-lightbox-text-center { text-align: center; margin: 0px; }
input.contactus-fields-const { display: none; }
@keyframes contactus-tossing {
0% { transform: rotate(-8deg); }
50% { transform: rotate(8deg); }
100% { transform: rotate(-8deg); }
}
@keyframes contactus-tossing {
0% { transform: rotate(-8deg); }
50% { transform: rotate(8deg); }
100% { transform: rotate(-8deg); }
}
@keyframes contactus-circle-anim {
0% { transform: rotate(0deg) scale(0.5) skew(1deg); opacity: 0.1; }
30% { transform: rotate(0deg) scale(0.7) skew(1deg); opacity: 0.5; }
100% { transform: rotate(0deg) scale(1) skew(1deg); opacity: 0.6; }
}
@keyframes contactus-circle-anim {
0% { transform: rotate(0deg) scale(0.5) skew(1deg); }
30% { transform: rotate(0deg) scale(0.7) skew(1deg); }
100% { transform: rotate(0deg) scale(1) skew(1deg); }
}
@keyframes contactus-circle-anim {
0% { transform: rotate(0deg) scale(0.5) skew(1deg); opacity: 0.1; }
30% { transform: rotate(0deg) scale(0.7) skew(1deg); opacity: 0.5; }
100% { transform: rotate(0deg) scale(1) skew(1deg); opacity: 0.1; }
}
@keyframes contactus-circle-fill-anim {
0% { transform: rotate(0deg) scale(0.7) skew(1deg); opacity: 0.2; }
50% { opacity: 0.2; }
100% { transform: rotate(0deg) scale(0.7) skew(1deg); opacity: 0.2; }
}
@keyframes contactus-circle-fill-anim {
0% { transform: rotate(0deg) scale(0.7) skew(1deg); opacity: 0.2; }
50% { transform: rotate(0deg) scale(1) skew(1deg); opacity: 0.2; }
100% { transform: rotate(0deg) scale(0.7) skew(1deg); opacity: 0.2; }
}
@keyframes contactus-circle-fill-anim {
0% { transform: rotate(0deg) scale(0.7) skew(1deg); opacity: 0.2; }
50% { transform: rotate(0deg) scale(1) skew(1deg); opacity: 0.2; }
100% { transform: rotate(0deg) scale(0.7) skew(1deg); opacity: 0.2; }
}
@media screen and (max-width: 480px) {
}
