/* Code tidied up by ScrapBook */
@media screen and (max-width: 524px) {
  div.maximenuckh { height: auto ! important; }
  div.maximenuckh ul:not(.noresponsive) { height: auto ! important; padding-left: 0px ! important; }
  div.maximenuckh ul:not(.noresponsive) li { float: none ! important; width: 100% ! important; box-sizing: border-box; padding-left: 0px ! important; padding-right: 0px ! important; margin-right: 0px ! important; }
  div.maximenuckh ul:not(.noresponsive) li > div.floatck { width: 100% ! important; box-sizing: border-box; right: 0px ! important; left: 0px ! important; margin-left: 0px ! important; position: relative ! important; }
  div.maximenuckh ul:not(.noresponsive) li:hover > div.floatck { position: relative ! important; margin-left: 0px ! important; }
  div.maximenuckh ul:not(.noresponsive) div.floatck div.maximenuck2 { width: 100% ! important; }
  div.maximenuckh ul:not(.noresponsive) div.floatck div.maxidrop-main { width: 100% ! important; }
}
