/* Code tidied up by ScrapBook */
#dd-main { background: rgb(241, 221, 193) url("page.png") repeat scroll 0% 0%; margin: 0px auto; font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; position: relative; width: 100%; min-height: 100%; left: 0px; top: 0px; cursor: default; overflow: hidden; }
table, ul.dd-hmenu { font-size: 14px; font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; }
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li { margin: 0px; padding: 0px; text-align: center; }
.dd-postcontent, .dd-postheadericons, .dd-postfootericons, .dd-blockcontent, ul.dd-vmenu a { text-align: left; }
.dd-postcontent, .dd-postcontent li, .dd-postcontent table, .dd-postcontent a, .dd-postcontent a:link, .dd-postcontent a:visited, .dd-postcontent a.visited, .dd-postcontent a:hover, .dd-postcontent a.hovered { font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; text-align: justify; }
.dd-postcontent p { margin: 12px; }
.dd-postcontent h1, .dd-postcontent h1 a, .dd-postcontent h1 a:link, .dd-postcontent h1 a:visited, .dd-postcontent h1 a:hover, .dd-postcontent h2, .dd-postcontent h2 a, .dd-postcontent h2 a:link, .dd-postcontent h2 a:visited, .dd-postcontent h2 a:hover, .dd-postcontent h3, .dd-postcontent h3 a, .dd-postcontent h3 a:link, .dd-postcontent h3 a:visited, .dd-postcontent h3 a:hover, .dd-postcontent h4, .dd-postcontent h4 a, .dd-postcontent h4 a:link, .dd-postcontent h4 a:visited, .dd-postcontent h4 a:hover, .dd-postcontent h5, .dd-postcontent h5 a, .dd-postcontent h5 a:link, .dd-postcontent h5 a:visited, .dd-postcontent h5 a:hover, .dd-postcontent h6, .dd-postcontent h6 a, .dd-postcontent h6 a:link, .dd-postcontent h6 a:visited, .dd-postcontent h6 a:hover, .dd-blockheader .t, .dd-blockheader .t a, .dd-blockheader .t a:link, .dd-blockheader .t a:visited, .dd-blockheader .t a:hover, .dd-vmenublockheader .t, .dd-vmenublockheader .t a, .dd-vmenublockheader .t a:link, .dd-vmenublockheader .t a:visited, .dd-vmenublockheader .t a:hover, .dd-headline, .dd-headline a, .dd-headline a:link, .dd-headline a:visited, .dd-headline a:hover, .dd-slogan, .dd-slogan a, .dd-slogan a:link, .dd-slogan a:visited, .dd-slogan a:hover, .dd-postheader, .dd-postheader a, .dd-postheader a:link, .dd-postheader a:visited, .dd-postheader a:hover { font-size: 32px; font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; font-weight: bold; font-style: normal; text-decoration: none; }
.dd-postcontent a, .dd-postcontent a:link { font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; text-decoration: none; color: rgb(158, 48, 5); }
.dd-postcontent a:visited, .dd-postcontent a.visited { font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; text-decoration: none; color: rgb(163, 0, 33); }
.dd-postcontent a:hover, .dd-postcontent a.hover { font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; text-decoration: underline; color: rgb(163, 0, 33); }
.dd-postcontent h1 { color: rgb(68, 20, 19); margin: 5px 0px; font-size: 20px; font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; text-shadow: 0px 1px 0px rgb(255, 255, 255); }
.dd-postcontent h3 { color: rgb(68, 20, 19); margin: 5px 0px; font-size: 16px; font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; text-shadow: 0px 1px 0px rgb(255, 255, 255); }
.dd-postcontent h4 { color: rgb(68, 20, 19); margin: 5px 0px; font-size: 16px; font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; text-shadow: 0px 1px 0px rgb(255, 255, 255); }
header, footer, article, nav, #dd-hmenu-bg, .dd-sheet, .dd-hmenu a, .dd-vmenu a, .dd-slidenavigator > a, .dd-checkbox::before, .dd-radiobutton::before { background-origin: border-box ! important; }
header, footer, article, nav, #dd-hmenu-bg, .dd-sheet, .dd-slidenavigator > a, .dd-checkbox::before, .dd-radiobutton::before { display: block; box-sizing: border-box; }
ul { list-style-type: none; }
html, body { height: 100%; }
html {  }
body { padding: 0px; margin: 0px; min-width: 1050px; color: rgb(112, 79, 41); }
.dd-header::before, #dd-header-bg::before, .dd-layout-cell::before, .dd-layout-wrapper::before, .dd-footer::before, .dd-nav::before, #dd-hmenu-bg::before, .dd-sheet::before { width: 100%; content: " "; display: table; border-collapse: collapse; border-spacing: 0px; }
.dd-header::after, #dd-header-bg::after, .dd-layout-cell::after, .dd-layout-wrapper::after, .dd-footer::after, .dd-nav::after, #dd-hmenu-bg::after, .dd-sheet::after, .cleared, .clearfix::after { clear: both; font: 0px/0 serif; display: block; content: " "; }
form { padding: 0px ! important; margin: 0px ! important; }
.dd-shapes { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; overflow: hidden; z-index: 0; }
.dd-object44953413 { display: block; left: 100%; margin-left: -1048px; position: absolute; top: 182px; width: 1049px; height: 315px; z-index: 35; }
.dd-object458882034 { display: block; left: 40% ! important; margin-left: -224px; position: absolute; top: -413px; width: 557px; height: 557px; background-image: url("object458882034.png"); background-position: 0px 0px; background-repeat: no-repeat; z-index: 38; }
.dd-object11583362 { display: block; left: 61.43%; margin-left: -623px; position: absolute; top: 498px; width: 1015px; height: 24px; background-image: url("object11583362.png"); background-position: 0px 0px; background-repeat: no-repeat; z-index: 39; }
.dd-object1620084780 { display: block; left: 0%; margin-left: -296px; position: absolute; top: 204px; width: 515px; height: 516px; background-image: url("object1620084780.png"); background-position: 0px 0px; background-repeat: no-repeat; z-index: 41; }
.dd-object1878271522 { display: block; left: 100%; margin-left: -182px; position: absolute; top: 303px; width: 100%; height: 206px; background-image: url("object1878271522.png"); background-position: 0px 0px; background-repeat: no-repeat; z-index: 42; }
.dd-object338856135 { display: block; left: 0%; margin-left: -11px; position: absolute; top: 171px; width: 192px; height: 204px; background-image: url("object338856135.png"); background-position: 0px 0px; background-repeat: no-repeat; z-index: 43; }
.dd-object248179695 { display: block; left: 51.65%; margin-left: -134px; position: absolute; top: 150px ! important; width: 260px; height: 10px; background-image: url("object248179695.png"); background-position: 0px 0px; background-repeat: no-repeat; z-index: 45; }
.dd-object321673511 { display: block; left: 37.51%; margin-left: -44px; position: absolute; top: 19px; width: 104px; height: 104px; background-image: url("object321673511.png"); background-position: 0px 0px; background-repeat: no-repeat; z-index: 46; }
.dd-object87415494 { display: block; left: 0%; margin-left: -39px; position: absolute; top: -48px; width: 104px; height: 104px; background-image: url("object87415494.png"); background-position: 0px 0px; background-repeat: no-repeat; z-index: 47; }
.dd-object1449059077 { display: block; left: 100%; margin-left: -516px; position: absolute; top: -1px; width: 517px; height: 24px; background-image: url("object1449059077.png"); background-position: 0px 0px; background-repeat: no-repeat; z-index: 48; }
.dd-slogan { display: inline-block; position: absolute; min-width: 50px; top: 15%; left: 4%; line-height: 100%; margin-left: -2px ! important; transform: rotate(0deg); z-index: 102; white-space: nowrap; }
.dd-slogan, .dd-slogan a, .dd-slogan a:link, .dd-slogan a:visited, .dd-slogan a:hover { font-size: 16px; font-family: Forum,Arial,"Arial Unicode MS",Helvetica,sans-serif; font-weight: normal; font-style: italic; text-decoration: none; text-shadow: 1.4px 1.4px 0px rgb(255, 255, 255); padding: 0px; margin: 0px; color: rgb(160, 41, 40) ! important; }
.dd-textblock-1573430999 h1, .dd-textblock-1573430999 h2, .dd-textblock-1573430999 h3, .dd-textblock-1573430999 h4, .dd-textblock-1573430999 h5, .dd-textblock-1573430999 h6, .dd-textblock-1573430999 p, .dd-textblock-1573430999 a, .dd-textblock-1573430999 ul, .dd-textblock-1573430999 ol, .dd-textblock-1573430999 li { line-height: 48px; }
.dd-textblock-1573430999 { position: absolute; top: 246px; left: 4% ! important; margin-left: -68px ! important; z-index: 103; height: 48px; }
.dd-textblock-1464283190 h1, .dd-textblock-1464283190 h2, .dd-textblock-1464283190 h3, .dd-textblock-1464283190 h4, .dd-textblock-1464283190 h5, .dd-textblock-1464283190 h6, .dd-textblock-1464283190 p, .dd-textblock-1464283190 a, .dd-textblock-1464283190 ul, .dd-textblock-1464283190 ol, .dd-textblock-1464283190 li { line-height: 48px; }
.dd-textblock-1464283190 { position: absolute; top: 170px ! important; left: 4% ! important; margin-left: -67px ! important; transform: rotate(0deg); overflow: hidden; z-index: 10; }
.dd-textblock-14642831901 { position: absolute; top: 320px ! important; left: 9% ! important; margin-left: -67px ! important; transform: rotate(0deg); overflow: hidden; z-index: 104; }
.dd-footer .layout-item-0 { padding-right: 0px; padding-left: 0px; }
.dd-header { margin: 0px auto; background-repeat: no-repeat; height: 520px; position: relative; background-image: url("header.png"); background-position: center top; }
.custom-responsive .dd-header { background-image: url("header.png"); background-position: center top; }
.dd-nav { background: linear-gradient(to bottom, rgba(212, 176, 135, 0.21) 0px, rgba(182, 128, 66, 0.07) 65%, rgba(142, 100, 51, 0.1) 100%) no-repeat scroll 0% 0%, url("nav.png") repeat scroll 0% 0%, transparent linear-gradient(to bottom, rgb(205, 164, 116) 0px, rgb(187, 131, 68) 65%, rgb(161, 113, 58) 100%) no-repeat scroll 0% 0%; border-bottom: 2px solid rgb(248, 247, 247); position: absolute; margin: 0px; top: 110px; width: 100%; z-index: 100; }
.dd-nav-inner::before { content: " "; }
.dd-nav-inner { text-align: center; margin: 0px auto; }
.desktop .dd-nav-inner { width: 100%; padding-left: 0px; padding-right: 0px; }
.desktop .dd-nav { padding-left: 0px; padding-right: 0px; }
.dd-sheet { background: rgba(253, 250, 247, 0.5) none repeat scroll 0% 0%; border: 1px solid rgba(253, 250, 247, 0.5); margin: 0px auto; position: relative; cursor: auto; width: 1050px; z-index: auto ! important; }
.dd-layout-wrapper { position: relative; margin: 0px auto; z-index: auto ! important; }
.dd-content-layout { display: table; width: 100%; table-layout: fixed; }
.dd-content-layout-row { display: table-row; }
.dd-layout-cell { box-sizing: border-box; display: table-cell; vertical-align: top; }
input, select, textarea, a.dd-search-button span { vertical-align: middle; font-size: 13px; font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; }
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea { background: rgb(253, 250, 247) none repeat scroll 0% 0%; border-radius: 4px; border: 1px solid rgb(191, 139, 79); margin: 0px auto; }
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea { width: 160px; height: 30px; font-size: 13px; font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; font-weight: normal; font-style: normal; text-shadow: none; }
.dd-post { background: rgba(241, 221, 193, 0.5) none repeat scroll 0% 0%; border-radius: 4px; border: 1px solid rgba(255, 255, 255, 0.65); padding: 3px; margin: 10px; }
a img { border: 0px none; }
.dd-article img, img.dd-article, .dd-footer img { float: left; padding: 2px; margin: 20px; }
.dd-footer { background: transparent none repeat scroll 0% 0%; padding: 5px; margin: 0px auto; position: relative; color: rgb(36, 36, 36); font-size: 11px; font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; text-align: center; }
.dd-footer a, .dd-footer a:link, .dd-footer a:visited, .dd-footer a:hover, .dd-footer td, .dd-footer th, .dd-footer caption { color: rgb(36, 36, 36); font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; }
.dd-footer p { padding: 0px; text-align: center; }
.dd-footer a, .dd-footer a:link { color: rgb(101, 70, 70); font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; }
.dd-footer a:visited { color: rgb(101, 70, 70); font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; text-decoration: none; }
.dd-footer a:hover { color: rgb(77, 179, 213); font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; text-decoration: underline; }
.dd-footer img { border: medium none; margin: 0px; float: none; width: 150px; }
.dd-page-footer, .dd-page-footer a, .dd-page-footer a:link, .dd-page-footer a:visited, .dd-page-footer a:hover { font-family: Arial; font-size: 14px; letter-spacing: normal; word-spacing: normal; font-style: normal; font-weight: normal; text-decoration: underline; color: rgb(101, 70, 70); }
.dd-page-footer { position: relative; z-index: auto ! important; padding: 1em; text-align: center ! important; text-decoration: none; color: rgb(101, 70, 70); }
.dd-lightbox, .dd-lightbox-wrapper .dd-lightbox-image { cursor: pointer; }
.dd-content-layout .dd-content { margin: 0px auto; }
div.clr { clear: both; }
.theme-default .nivoSlider { position: relative; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.theme-default .nivoSlider img { position: absolute; top: 0px; left: 0px; display: none; }
.theme-default .nivoSlider a { border: 0px none; display: block; }
.theme-default .nivo-controlNav { position: absolute; left: 50%; bottom: -38px; margin-left: -60px; z-index: 9999; }
.theme-default .nivo-controlNav a { display: block; width: 22px; height: 22px; text-indent: -9999px; border: 0px none; margin-right: 3px; float: left; }
.theme-default .nivo-controlNav a.active { background-position: 0px -22px; }
.theme-default .nivo-directionNav a { display: block; width: 30px; height: 30px; text-indent: -9999px; border: 0px none; }
.theme-default a.nivo-nextNav { background-position: -30px 0px; right: 15px; }
.theme-default a.nivo-prevNav { left: 15px; }
.theme-default .nivo-caption { font-family: Helvetica,Arial,sans-serif; }
.nivoSlider { position: relative; }
.nivoSlider img { position: absolute; top: 0px; left: 0px; }
.nivoSlider a.nivo-imageLink { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border: 0px none; padding: 0px; margin: 0px; z-index: 6; display: none; }
.nivo-slice { display: block; position: absolute; z-index: 5; height: 100%; }
.nivo-caption { position: absolute; left: 0px; bottom: 0px; background: rgb(0, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); opacity: 0.8; width: 100%; z-index: 8; }
.nivo-caption p { padding: 1px; margin: 0px; }
.nivo-directionNav a { position: absolute; top: 70%; z-index: 9; cursor: pointer; }
.nivo-prevNav { left: 0px; }
.nivo-nextNav { right: 0px; }
.nivo-controlNav a { position: relative; z-index: 9; cursor: pointer; margin-top: 10px; }
.nivo-controlNav a.active { font-weight: bold; }
.theme-default #slider { width: 100%; height: 315px; margin-left: 0px; }
#toTop { width: 50px; height: 50px; background-image: url("top.png"); background-repeat: no-repeat; background-position: center center; background-color: rgb(153, 102, 0); text-align: center; padding: 5px; position: fixed; bottom: 10px; right: 20px; cursor: pointer; display: none; font-family: verdana; font-size: 11px; border: 3px solid rgb(255, 255, 255); border-radius: 100%; z-index: 1100; }
.art-content-layout { display: table; width: 100%; table-layout: fixed; border-collapse: collapse; margin: 10px; }
.art-content-layout { display: table; width: 100%; table-layout: fixed; border-collapse: collapse; margin: 10px; }
.iconblock-5 { position: relative; margin: 60px 0px 20px; border: 1px solid rgb(197, 197, 197); transition: transform 300ms ease 0s, box-shadow 300ms ease 0s; text-align: center; float: left; width: 33%; height: 48%; }
.iconblock-5 .icon { display: block; position: absolute; left: 50%; width: 80px; transform: translate(-50%, -50%); }
.iconblock-5 .icon i, .iconblock-5 .icon img { position: absolute; top: 50%; left: 50%; font-size: 32px; transform: translate(-50%, -50%); color: rgb(68, 20, 19); width: 32px; height: 32px; }
.iconblock-5 .icon svg path { stroke-width: 8px; stroke: rgb(112, 79, 41); transition: stroke 300ms ease 0s; }
.iconblock-5 .icon svg polygon { fill: white; }
.iconblock-5 h3 { transition: all 0.7s ease 0s; color: rgb(68, 20, 19); font-size: 20px; margin: 50px 0px 10px; }
.iconblock-5:hover h3 { color: rgb(0, 0, 0); }
.iconblock-5:hover { transform: translateY(-10px); box-shadow: 0px 7px 10px 1px rgba(84, 84, 84, 0.5); }
.iconblock-5:hover .icon svg path { stroke: rgb(68, 20, 19); }
.container { text-align: center; float: left; width: 100%; height: auto; }
.box { display: inline-block; }
.status { text-align: center ! important; }
.statusclick { background-color: rgb(231, 231, 231); color: black; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; border-collapse: separate; background-origin: border-box ! important; border-radius: 3px; border: 1px solid grey; padding: 0px 10px; margin: 0px auto; height: 30px; }
.dd-phoneshapes { position: absolute; top: 2%; left: 77%; transform: rotate(0deg); overflow: hidden; background-position: 0px 0px; background-repeat: no-repeat; z-index: 51; width: 50%; height: 42px; float: right; }
.dd-phoneshapes-two { position: absolute; top: 8%; left: 77%; transform: rotate(0deg); overflow: hidden; background-position: 0px 0px; background-repeat: no-repeat; z-index: 51; width: 50%; height: 42px; float: left; }
.dd-mailshapes { position: absolute; top: 14%; left: 77%; transform: rotate(0deg); overflow: hidden; background-position: 0px 0px; background-repeat: no-repeat; z-index: 51; width: 274px; height: 42px; }
.dd-phoneshapes-text-container, .dd-phoneshapes-two-text-container, .dd-mailshapes-text-container { display: block; }
.dd-phoneshapes-text, .dd-phoneshapes-two-text, .dd-mailshapes-text { font-size: 20px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; text-align: left; vertical-align: middle; text-shadow: 0px 1px 0px rgb(255, 255, 255); color: rgb(176, 124, 64); margin: 4px; }
.dd-phoneshapes a, .dd-phoneshapes-two a, .dd-mailshapes a { position: relative; font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; color: rgb(148, 105, 56); }
.dd-phoneshapes a:link, .dd-phoneshapes-two a:link, .dd-mailshapes a:link { font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; color: rgb(148, 105, 56); }
.dd-phoneshapes a:visited, .dd-phoneshapes a.visited, .dd-phoneshapes-two a:visited, .dd-phoneshapes-two a.visited, .dd-mailshapes a:visited, .dd-mailshapes a.visited { font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; color: rgb(148, 105, 56); }
.dd-phoneshapes a:hover, .dd-phoneshapes a.hover, .dd-phoneshapes-two a:hover, .dd-phoneshapes-two a.hover, .dd-mailshapes a:hover, .dd-mailshapes a.hover { font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; color: rgb(187, 135, 76); }
.timeworking-shapes { position: absolute; top: 2%; left: 40%; text-align: center; font-style: italic; font-family: Forum,Arial,"Arial Unicode MS",Helvetica,sans-serif; font-weight: normal; text-shadow: 1.4px 1.4px 0px rgb(255, 255, 255); color: rgb(134, 97, 54) ! important; font-size: 19px; width: 30%; }
.look-shapes { width: 100%; float: left; display: block; margin: 7px; }
.phones-shapes { width: 100%; }
.logo { width: 9%; left: 10%; top: 0.9%; position: absolute; cursor: pointer; z-index: 47; }
.dd-contact-footer { width: 100%; display: block; float: left; background: rgb(244, 228, 208) none repeat scroll 0% 0%; }
.dd-sitemap-footer { width: 33%; float: left; text-align: center; margin: 3px; padding: 1px; font-size: 16px; }
.dd-sitemap-footer a { font-size: 16px; }
.dd-sitemap-footer a:link { font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; color: rgb(148, 105, 56); }
.dd-sitemap-footer a:visited, .sitemap-footer a.visited { font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; color: rgb(148, 105, 56); }
.dd-sitemap-footer a:hover, .sitemap-footer a.hover { font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; color: rgb(187, 135, 76); }
.dd-grafic-footer { width: 34%; float: left; }
.dd-grafic-footer p { font-size: 16px; font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; color: rgb(148, 105, 56); }
.dd-grafic-footer a { font-size: 16px; }
.dd-grafic-footer a:link { font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; color: rgb(148, 105, 56); }
.dd-grafic-footer a:visited, .sitemap-footer a.visited { font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; color: rgb(148, 105, 56); }
.dd-grafic-footer a:hover, .sitemap-footer a.hover { font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; color: rgb(187, 135, 76); }
.socialfooter table, tr, td { border: medium none; }
.socialfooter td { border: medium none; }
.socialfooter a:visited { color: rgb(255, 255, 255); }
.socialfooter p { font-size: 16px; font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif; color: rgb(148, 105, 56); }
.dd-price-remont table, tr, td { border: 1px solid black; }
.social-icons-7 { list-style: outside none none; margin: 10px; padding: 0px; display: flex; justify-content: center; }
.social-icons-7 a { text-decoration: none; width: 60px; height: 60px; display: flex; align-items: center; justify-content: center; border-radius: 50%; margin: 0px 6px; font-size: 26px; overflow: hidden; position: relative; color: rgb(255, 255, 255); border: 2px solid rgb(255, 255, 255); transition: border-radius 0.2s linear 0s; transform: rotate(45deg); }
.social-icons-7 a::after { content: ""; display: block; width: 100%; height: 100%; top: -100%; left: 0px; right: 0px; margin: auto; position: absolute; }
.social-icons-7 a i, .social-icons-7 a img { transition: transform 0.2s linear 0s; transform: rotate(-45deg); position: relative; z-index: 1; }
.social-icons-7 a:hover { border-radius: 0px; width: 50px; height: 50px; color: rgb(255, 255, 255); margin: 5px 11px; }
.social-icons-7 a:hover::after { top: 0px; transition: all 0.2s linear 0s; }
.social-icons-71 { list-style: outside none none; margin: 10px; padding: 0px; display: flex; justify-content: center; }
.social-icons-71 a { text-decoration: none; width: 60px; height: 60px; display: flex; align-items: center; justify-content: center; border-radius: 50%; margin: 0px 6px; font-size: 26px; overflow: hidden; position: relative; color: rgb(255, 255, 255); border: 2px solid rgb(255, 255, 255); transition: border-radius 0.2s linear 0s; transform: rotate(45deg); }
.social-icons-71 a::after { content: ""; display: block; width: 100%; height: 100%; top: -100%; left: 0px; right: 0px; margin: auto; position: absolute; }
.social-icons-71 a i, .social-icons-71 a img { transition: transform 0.2s linear 0s; transform: rotate(-45deg); position: relative; z-index: 1; }
.social-icons-71 a:hover { border-radius: 0px; width: 50px; height: 50px; color: rgb(255, 255, 255); margin: 5px 11px; }
.social-icons-71 a:hover::after { top: 0px; transition: all 0.2s linear 0s; }
.socialfooter { width: 32%; float: right; }
@media screen and (max-width: 768px) {
}
.poshivcategor td, tr { border: medium none; width: 30%; text-align: center; }
.p1 img { width: 30px; text-align: center; float: none; }
