/* Code tidied up by ScrapBook */
#dd-resp { display: none; }
@media all and (max-width: 768px) {
  #dd-resp, #dd-resp-t { display: block; }
  #dd-resp-m { display: none; }
}
@media all and (max-width: 480px) {
  #dd-resp, #dd-resp-m { display: block; }
  #dd-resp-t { display: none; }
}
#dd-resp-tablet-landscape { display: none; }
#dd-resp-tablet-portrait { display: none; }
#dd-resp-phone-landscape { display: none; }
#dd-resp-phone-portrait { display: none; }
@media (min-width: 1200px) {
}
@media (min-width: 980px) and (max-width: 1199px) {
  #dd-resp-tablet-landscape { display: block; }
}
@media (min-width: 768px) and (max-width: 979px) {
  #dd-resp-tablet-portrait { display: block; }
}
@media (min-width: 480px) and (max-width: 767px) {
  #dd-resp-phone-landscape { display: block; }
}
@media (max-width: 479px) {
  #dd-resp-phone-portrait { display: block; }
}
@media (min-width: 650px) {
  .iconblock-5 { width: 33%; height: auto; }
}
@media (min-width: 240px) and (max-width: 290px) {
  .dd-phoneshapes-text, .dd-phoneshapes-two-text, .dd-mailshapes-text { font-size: 14px; }
  .look-shapes { margin: 2px; }
  .timeworking-shapes { font-size: 14px; }
  .p1 img { width: 30px; }
  .dd-footer img { width: 100px; }
  .socialfooter { float: none; width: 100%; }
  .social-icons-7 { margin: 0px; }
}
@media (min-width: 291px) and (max-width: 320px) {
  .dd-phoneshapes-text, .dd-phoneshapes-two-text, .dd-mailshapes-text { font-size: 16px; }
  .timeworking-shapes { font-size: 16px; }
  .dd-slogan { font-size: 15px; }
  .dd-content-layout img { margin: 0px; width: 100%; float: none; }
  .p1 img { width: 30px; }
  .dd-footer img { width: 100px; }
  .socialfooter { float: none; width: 100%; }
  .social-icons-7 { margin: 0px; }
  .phones-shapes { width: 95%; }
  .iconblock-5 { margin: 40px 0px 20px; }
  .breadcrumbs { font-size: 10px ! important; }
}
@media (min-width: 321px) and (max-width: 360px) {
  .dd-phoneshapes-text, .dd-phoneshapes-two-text, .dd-mailshapes-text { font-size: 18px; }
  .socialfooter { float: none; width: 100%; }
  .dd-article img, img.dd-article, .dd-footer img { float: none; }
  .dd-footer img { width: 100px; }
  .dd-content-layout img { margin: 0px; float: none; }
  .p1 img { width: 30px; }
  .breadcrumbs { font-size: 12px ! important; }
}
@media (min-width: 361px) and (max-width: 480px) {
  .dd-phoneshapes-text, .dd-phoneshapes-two-text, .dd-mailshapes-text { font-size: 20px; }
  .p1 img { width: 30px ! important; }
  .socialfooter { float: none; width: 100%; }
  .breadcrumbs { font-size: 12px ! important; }
}
@media (min-width: 481px) and (max-width: 768px) {
  .socialfooter { float: none; width: 100%; }
}
@media (min-width: 769px) and (max-width: 900px) {
  body, html { width: 100%; min-width: 769px; }
  .dd-sheet { width: 100%; }
  .dd-shapes { width: 95%; left: 2%; }
  .timeworking-shapes { left: 40%; font-size: 14px; }
  .logo { width: 12%; top: 3%; }
  .dd-slogan { left: 3%; font-size: 14px; }
  .dd-object1878271522 { left: 77.5% ! important; }
  .dd-phoneshapes-two-text { font-size: 18px; }
  .dd-phoneshapes-text { font-size: 18px; }
  .dd-mailshapes-text { font-size: 18px; }
  .social-icons-7 { display: none; }
  .socialfooter { width: 30%; float: right; display: block; }
}
@media (min-width: 901px) and (max-width: 1000px) {
  body, html { width: 100%; min-width: 769px; }
  .dd-sheet { width: 100%; }
  .dd-shapes { width: 95%; left: 2%; }
  .timeworking-shapes { left: 40%; font-size: 16px; }
  .logo { width: 12%; top: 2%; }
  .dd-slogan { left: 3%; font-size: 14px; }
  .dd-object1878271522 { left: 77.5% ! important; }
  .dd-phoneshapes-two-text { font-size: 18px; }
  .dd-phoneshapes-text { font-size: 18px; }
  .dd-mailshapes-text { font-size: 18px; }
  .dd-phoneshapes { left: 80% ! important; }
  .dd-phoneshapes-two { left: 80% ! important; }
  .dd-mailshapes { left: 80% ! important; }
  .social-icons-7 { display: none; }
}
@media (min-width: 1001px) and (max-width: 1250px) {
  body, html { width: 100%; min-width: 769px; }
  .dd-sheet { width: 90%; }
  .logo { width: 12%; }
  .social-icons-7 { display: none; }
  .theme-default #slider { width: 95%; margin-left: auto; }
  .dd-object1878271522 { left: 78% ! important; }
  .dd-object338856135 { left: 2% ! important; }
  div#maximenuck94 ul.maximenuck li.maximenuck.level1 { padding: 0px 6px; }
  div#maximenuck94 ul.maximenuck li.maximenuck.level1 > a { text-indent: 1px; }
}
@media (min-width: 1100px) and (max-width: 1280px) {
  div#maximenuck94 span.titreck { font-size: 13px; }
}
@media (min-width: 1027px) and (max-width: 1099px) {
  div#maximenuck94 span.titreck { font-size: 12px; }
}
