/* Code tidied up by ScrapBook */
@font-face {
  font-family: "YS Text";
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url("text-light.woff2") format("woff2"), url("text-light.woff") format("woff");
}
@font-face {
  font-family: "YS Text";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url("text-regular.woff2") format("woff2"), url("text-regular.woff") format("woff");
}
@font-face {
  font-family: "YS Text";
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  src: url("text-medium.woff2") format("woff2"), url("text-medium.woff") format("woff");
}
@font-face {
  font-family: "YS Text";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url("text-bold.woff2") format("woff2"), url("text-bold.woff") format("woff");
}
.font_loaded body { font-family: "YS Text","Helvetica Neue",Arial,sans-serif; font-feature-settings: "liga", "kern"; }
